@model HoteldeMascotas.Models.Mascotas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mascotas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Años)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Años)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacunas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacunas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueñosID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueñosID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MascotasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
