@model IEnumerable<HoteldeMascotas.Models.Mascotas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Años)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacunas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueñosID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Años)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacunas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueñosID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MascotasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MascotasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MascotasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
